.outlet {
  margin-top: 60px;
}

.container {
  text-align: center;
}

footer {
  overflow: hidden;
  height: 51px;
  font-size: 0.875rem;
  color: white;
  background-color: #303846;
}

.hr {
  width: 100%;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e0e0e0;
  margin: 0 0;
}